# Ignorar node_modules e .env na pasta atual
node_modules/
.env

# Ignorar node_modules, android, .vscode e outros arquivos no diretório pai
./node_modules/
./android/
./.vscode/
./package-lock.json
./package.json
./capacitor.config.json