a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none; 
    color: inherit; 
    outline: none; 
    background: none;
}

a:-webkit-any-link {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
}


a div,
a img,
a p {
    outline: none; 
}
a:-webkit-any-link {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor do texto */
    cursor: pointer; /* Define o cursor como pointer */
}


footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    z-index: 99;
}
.icon{
    width: 53px;
}
.linha-teto{
    width: 100%;
    background-color: transparent;
    height: 4px;
    border: 1px solid transparent;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-bottom: 6px;
}
.linha-teto.active{
    background-color: orange;
}
.icon p{
    font-family: inter;
    margin-top: 2px;
    margin-bottom: 18px;
    color: white;
}