body{
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
}
h3{
    font-family: "Urbanist", sans-serif;
    color: white;
    font-weight: 500;

}
p{
    color: white;
}
.container-app{
    overflow-x: hidden;
}
#align-logoEh3{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-bottom: 23px;
}
#align-logoEh3 h3{
    max-width: 700px;
    padding-left: 11px;
    font-size: 21px;
    text-align: center;
}

#align-campeoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 31px;
}
#align-campeoes h2{
    font-family: "DM Sans", sans-serif;
    color: #FF8C00;
    font-size: 27px;
}
#align-campeoes p{
    font-family: "Inter", sans-serif;
    font-size: 18px;
}
#align-campeoes a{
    text-decoration: none;
    color: #B3B0B8;
}

.swiper-slide{
    max-width: 148px;
}
.swiper-wrapper {
    transition-timing-function: linear !important; 
    display: flex;
   
}
.card img{
    border-radius: 8px;
    width: 148px;
}
.desc-nome{
    font-family: "Inter";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 148px;
}

.desc-titul{
    font-family: "Inter";
    font-weight: 400;
    opacity: 60%;
    margin: 0;
    font-size: 15px;
    max-width: 148px;
}



/* ---------------------CHAMPS.HTML */
#align-logoChamps{
    display: flex;
    justify-content: center;
}
#align-arrow{
    position: fixed;
    top: 10%;
    left: 20px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid white;
    z-index: 1000;
}
#align-arrow img{
    height: auto;
}
#align-arrow a{
    height: 32px;
}
#h2-champs{
    color: #FF8C00;
    font-family: 'DM SANS';
    text-align: center;
    font-size: 26px;
}
.posicoes{
    text-align: center;
    font-size: 21px;
}
#roles{
    text-align: center;
    margin-bottom: 15px;
}

#roles img{
    padding: 0 6px;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    gap: 10px;
    justify-items: center;
}

.champions-img{
    width: 180px;
}
#back-to-top {
    position: fixed;
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid white;
    z-index: 1000;
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s ease-in-out;
}

#back-to-top img {
    height: auto;
    transform: rotate(-270deg);
}
#back-to-top.show {
    opacity: 1;
}

/* -----------------CHAMP.HTML */
#img-campeao{
    width: 100%; /* Faz a imagem ocupar 100% da largura disponível */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; 
}
#campeao-selecionado{
    color: white;
    font-size: 44px;
    margin-left: 16px;
    margin-bottom: 0;
    font-family: "DM Sans", sans-serif;
}
#campeao-titulo{
    font-family: inter;
    margin-left: 16px;
    margin-top: 5px;
    font-size: 21px;
    color: #B3B0B8;
}
#campeao-resumo{
    font-family: inter;
    margin-left: 16px;
    font-size: 18px;
}
#funcao-dificuldade{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 56px;
}
#align-funcao{
    display: flex;
}
#img-funcao{
    width: 85px;
    height: 85px;
    margin-right: 12px;
}
#title-funcao{
    font-family: inter;
    color: #B3B0B8;
    margin-bottom: 5px;
}
#funcao{
    font-family: "DM Sans", sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0;
}
#dificuldade-p1{
    font-family: Inter;
    color: #B3B0B8;
    margin-bottom: 0;
    margin-top: 0;
}
#dificuldade-p2{
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 25px;
}
#nivel{
    display: flex;
}

#title-habilidades{
    font-family: "DM Sans", sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 45px;
}

#skills{
    display: flex;
    justify-content: center;
}

#skills img{
    border-radius: 8px;
    margin-right: 2%;
    opacity: 40%;
    transition: opacity 0.3s ease;
}
#habilidade-p{
    opacity: 100% ;
}

#title-habilidade{
    font-family: "DM Sans";
    font-weight: bold;
    text-align: center;
    margin-top: 42px;
    font-size: 22px;
}

#atalho-tecla{
    font-family: Inter;
    text-align: center;
}
#desc-habilidade{
    font-family: Inter;
    text-align: center;
}