@media screen and (min-width:1600px){
    .slick-track{
    display: flex !important;
    justify-content: center !important; 
    }
}

@media screen and (min-width: 780px){
    .align-rankEdesc img {
        top: -25px;
        width: 147px;
    }
    #card-bronze img{
        width: 163px;
    }
    

}

@media screen and (min-width: 500px) {
    #container-cadastro{
        border: 1px solid white;
    }

}

@media screen  and (max-width:780px){
    #card-platina img {
        top: -52px;
        left: -21px;
    }
}

@media screen and (max-width: 637px){
    #section-5{
        display: grid;
    justify-content: center;
    justify-items: center;
    }
    #section-5 img{
        position: unset;
        height: 300px;
    }
}
@media screen and (max-width: 500px) {
    .classes-champ img{
        width: 58x;
        height: 58px;
    }

}

@media screen and (max-height: 740px){
    #btn-cadast{
        margin-top: 0;
    }
    .form-group label{
        font-size: 14px;
    }
    .logoxcronos {
        margin-top: 56px;
    }
    .btn-cadastro{
        margin-top: 19px;
    }
}

@media screen and (max-width: 412px){
    .retangulo-rune {
        width: 100px;
    }
    .retangulo-rune img{
        width: 100px;
        height: 100px;
    }
    .card-rune p {
        font-size: 16px;
        max-width: 100px; 
    }
    .slick-initialized .slick-slide {
        max-width: 100px;
    }
    #align-logoEh3 h3 {
        font-size: 18px;

    }
    #nome-person {
        font-size: 28px;
    }
    #desc-classe{
        font-size: 15px;
    }
    footer{
        height: 70px;
    }
    .nav-link img{
        width: 24px;
    }
    .linha-teto{
        width: 52px;
    }
    #align-imgsRune img {
        width: 35px;
        margin-right: 7px;
    }
    #modal-runeterra h3 {

        font-size: 23px;

    }
    #desc-rune {
        font-size: 18px;
 
    }

    #text-rune{
        font-size: 14px;
    }
    #logo-runeterra {
        width: 120px;
    }
    #section-2 h2 {
        font-size: 23px;
    }
    #section-3 h2 {
        font-size: 23px;

    }
    #align-campeoes h2 {

        font-size: 23px;
    }
    #section-4 h2{
        font-size: 23px;
    }
    .align-rankEdesc p {
        font-size: 16px;
    }
    #card-ferro img {
        width: 114px;
        right: -39px;
        top: -18px;
    }
    #card-bronze img {
        width: 138px;
        top: -26px;
        right: -31px;
    }
    #card-diamante img {
        right: -2px;
        top: -16px;
        width: 119px;
    }
    #card-gm img {
        width: 150px;
        top: -34px;
        left: -34px;
    }
    #card-desafiante img {
        right: -33px;
    
    }
}






@media screen and (max-width: 450px) {

    .align-rankEdesc img {
        top: -13px;
        right: -13px;
        width: 113px;
    }
    #card-ferro img{
        width: 124px;
    }
    .card-rank{
        width: 334px;
    }
    #card-prata img {
        top: -37px;
        left: -10px;
        width: 132px;
    }
    #card-ouro img {
        top: -36px;
        left: -10px;
    }
    #card-platina img {
        top: -45px;
        left: -13px;
        width: 124px;
    }
    #card-esmeralda img{
        left: -15px;
        width: 134px;
        top: -33px;   
    }
    #card-mestre img{
        width: 161px;
        top: -44px;
        left: -25px;
    }
    #card-gm img{
        width: 171px;
        top: -42px;
    }
    #card-desafiante img{
        width: 129px;
        top: -46px;
    }
}