@media screen and (min-width:1600px){
    .slick-track{
    display: flex !important;
    justify-content: center !important; 
    }
}

@media screen and (min-width: 780px){
    .align-rankEdesc img {
        top: -25px;
        width: 147px;
    }
    #card-bronze img{
        width: 163px;
    }
    

}

@media screen and (min-width: 500px) {
    #container-cadastro{
        border: 1px solid white;
    }

}

@media screen  and (max-width:780px){
    #card-platina img {
        top: -52px;
        left: -21px;
    }
}

@media screen and (max-width: 595px){
    #section-5{
        display: grid;
    justify-content: center;
    justify-items: center;
    }
    #section-5 img{
        position: unset;
        height: 300px;
    }
}
@media screen and (max-width: 500px) {
    #body-cadastro{
        margin-top: -15px;
    }
    .classes-champ img{
        width: 58x;
        height: 58px;
    }


}

@media screen and (max-width: 450px) {
    .align-rankEdesc img {
        top: -13px;
        right: -13px;
        width: 113px;
    }
    #card-ferro img{
        width: 124px;
    }
    .card-rank{
        width: 334px;
    }
    #card-prata img {
        top: -37px;
        left: -10px;
        width: 132px;
    }
    #card-ouro img {
        top: -36px;
        left: -10px;
    }
    #card-platina img {
        top: -45px;
        left: -13px;
        width: 124px;
    }
    #card-esmeralda img{
        left: -15px;
        width: 134px;
        top: -33px;   
    }
    #card-diamante img{
        right: 37px;
        top: -16px;
        width: 115px;
    }
    #card-mestre img{
        width: 161px;
        top: -44px;
        left: -25px;
    }
    #card-gm img{
        width: 171px;
        top: -42px;
    }
    #card-desafiante img{
        width: 129px;
        right: -14px;
        top: -46px;
    }
}