body{
    background-color: black;
}
.container-torneios{
    margin-bottom: 105px;
}
p{
    font-family: 'Urbanist';
    color: white;
}
#align-logoEh3{
    display: grid;
    justify-items: center;
}
h3{
    font-family: 'Urbanist';
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 19px;
}
.torneios{
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: center;
}
.torneio{
    max-width: 500px;
    width: 90%;
    background-color: #1F242D;
    border: 1px solid #393939;
    text-align: center;
    padding-top: 20px;
    height: 434px;
}
.mapa{
    width: 100%;
    max-width: 308px;
}
#align-dataehora{
    display: flex;
    justify-content: space-evenly;
}
.icon-data, .icon-hora{
    display: flex;
    justify-content: space-around;

    align-items: center;
    max-height: 24px;
}
.icon-data img, .icon-hora img{
    width: 24px;
    height: 24px;
    margin-right: 8px;

}
.icon-data p , .icon-hora p{
    margin: 0;
    font-size: 19px;
}
.icon-premio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.icon-premio img{
    width: 42px;
    height: 42px;
    margin-right: 5px;
}
.icon-premio p{
    font-size: 21px;
    font-weight: bold;
}
button{
    width: 231px;
    height: 54px;
    margin-top: 17px;
    margin-bottom: 17px;
    font-family: 'Inter';
    border: 1px solid rgba(255, 202, 126, 0.5);
    border-radius: 5px;
    font-weight: bold;
    background: radial-gradient(circle, #FFC167 0%, #FDB44B 100%);
}

/* ---------------------INSCRICAO.HTML */
.container-detalhes{
    margin-bottom: 105px;
}
#align-logoxCronos{
    display: flex;
    justify-content: center;
    margin-bottom: 43px;
    margin-top: 27px;
}
section{
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}
#align-detalheEicon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#align-detalheEicon img{
    border: 2px solid #FF8C00;
    background-color: #FF8C00;
    padding: 4px;
    border-radius: 9px;
}

#detalhes-torneio{
    width: 90%;
    background-color: #171c26;
    max-width: 732px;
    border: 1px solid;
    border-radius: 3px;
}
#detalhes-torneio h2{
    font-family: 'Urbanist';
    font-weight: bold;
    color: white;
    font-size: 18px;
}
hr{
    border: 1px solid #5f5f5f;
    opacity: 70%;
}
li{
    font-family: 'Urbanist';
    font-weight: 400;
    color: white;
    margin: 13px 0;
}
.align-iconEnome{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.align-iconEnome p{
    color: #FDB44B;
    font-family: 'Inter';
    font-weight: bold;
}
.align-iconEnome img{
    height: 24px;
    margin-right: 9px;
    margin-left: 28px;
}
#tamanho-equipe img{
    margin-left: 30px;
    height: 21px;
}
#premiacao img{
    margin-left: 37px;
}
#detalhes-sobre{
    width: 90%;
    background-color: #171c26;
    max-width: 732px;
    border: 1px solid;
    border-radius: 3px;
}
#align-h2Eicon{
          display: flex;
        justify-content: space-around;
        align-items: center;
}
#align-h2Eicon h2{
    font-family: 'Urbanist';
    font-weight: bold;
    color: white;
    font-size: 18px;
}
#align-h2Eicon img{
    border: 2px solid #FF8C00;
    background-color: #FF8C00;
    padding: 4px;
    border-radius: 9px;
    margin-left: 172px;
}
.display-alternar1, .display-alternar2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}


#sobre-1 h3, #sobre-2 h3{
    text-align: left;
}
#sobre-1, #sobre-2{
    margin-left: 7px;
}

#section-form{
    margin-bottom: 35px;
}
#detalhes-form{
    width: 90%;
    background-color: #171c26;
    max-width: 732px;
    border: 1px solid;
    border-radius: 3px;
}
#detalhes-form h2{
    font-family: 'Urbanist';
    font-weight: bold;
    color: white;
    font-size: 19px;
    text-align: center;
}
#hr-form{
    margin-bottom: 29px;
}
.align-input{
display: flex;
justify-content: center;
}
label{
    font-family: 'Poppins';
    color: #545F71;
    font-weight: 500;
    text-align: center;
    display: block;
}
input{
    height: 32px;
    width: 275px;
    border: 1px solid;
    border-radius: 6px;
    margin-bottom: 24px;
    padding-left: 2px;
    font-size: 21px;
}
#align-btn{
    display: flex;
    justify-content: center;
}
#btn-inscricao{
    margin-top: -9px;
}
#mensagem-texto{
    text-align: center;
    font-family: 'Inter';
    margin-top: 0;
}

.align-arrow {
    position: fixed;
    top: 10%;
    left: 20px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid white;
    z-index: 1000;
    transition: opacity 0.3s ease;
}
.align-arrow img {
    height: auto;
}
.align-arrow a{
    height: 32px;
}